@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat:wght@200;700;800&display=swap');

$primary-color: #002733;
$secondary-color: #0B3948;
$tertiary-color: #FF7A03;
$fourth-color: #001019;
$white: #fff;
$sm: 960px;
$font-montserrat: 'Montserrat', sans-serif;
$font-merriweather: 'Merriweather Sans', sans-serif;